@model IEnumerable<Rail.Models.arsikere>
<tbody id="trn_data_divsho">



    

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Train_name)

            </td>
       

        </tr>



    }*@
</tbody>